<h1>Listing accounts</h1>

<table id="accounts-table" class="table table-bordered table-stripped">
  <tr>
    <th>Name</th>
    <th>Number</th>
    <th>Branch</th>
    <th>Balance</th>
    <th></th>
  </tr>
</table>

<br/>

<a class="new" href="#">New Account</a>
