		<td>
			<div class="field">
				<input type="text" name="name" id="name" value="<%= name %>" >
			</div>
		</td>
		
		<td>
			<div class="field">
				<input type="text" name="number" id="number" value="<%= number %>" >
			</div>
		</td>
		
		<td>
			<div class="field">
				<input type="text" name="branch" id="branch" value="<%= branch %>" >
			</div>
		</td>
		
		<td>
			<div class="field">
				<input type="text" name="balance" id="balance" value="<%= balance %>" >
			</div>
		</td>
		
		<td>
			<div class="actions">
				<button id="create-account-button">Create Account</button>
			</div>
		</td>
		<td>
		</td>
		<td>
		</td>
