
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="input-row">
    <label for="user_email">Email Address:</label>
    <input type="email" id="user_email" name="user[email]" value="" placeholder="Email Address" class="login username-field" autofocus="autofocus" />
  </div>
  <div class="input-row">
    <label for="user_password">Password</label>
    <input type="password" id="user_password" name="user[password]" value="" placeholder="Password" class="login password-field"/>
  </div>
  <button class="btn btn-positive btn-block">Sign In</button>
<%- end -%>

<!-- Text Under Box -->
<div class="login-extra">
	<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
	  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
	<% end -%>
</div> <!-- /login-extra -->


