// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//.money {
//  color: black;
//}
//.negative {
//  color: red;
//}
a.category-tree:hover {text-decoration:none;}
.add-transaction-container .tab-content {
  background-color: white;
  border-bottom: 1px solid #DDD;
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
}
.add-transaction-container .nav {
  margin-bottom: 0px;
}
.add-transaction-container .tab-content {
  padding: 4px;
}
.side-form .controls{
  margin-left: 100px;
}
.side-form .control-label{
  width: 80px;
}
.side-form .control-group {
  margin-bottom: 4px;
}
.nav-list>li>a.indent {margin-left: 0px;}
